.formx {
    order: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}
.formx label {
    margin: 0;
    /* margin-left: 1rem; */
}
.formx__coment {
    flex-direction: row;
    width: 50%;
}
.text2 {
    align-items: flex-end;
    width: 100%;
    order: 0;
}