* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    background-image: url("https://i.ibb.co/HD5Y8n2/image-fondo.jpg");
    background-size: cover;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
.header {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 2rem;
}
.image {
    display: inherit;
    width: 100%;
    margin-top: 1rem;
}
.image img {
    justify-content: center;
    margin: 0 auto;
    border-radius: 1rem;
}
.text1, .text2 {
    padding: 3rem;
    font-size: 1.8rem;
    font-weight: 600;
}
.text2 {
    color: white;
    background-color: rgba(128, 128, 128, 0.204);
}
.formx {
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
    margin: 0 auto;
    padding: 1rem;
    border: 0.5rem solid gray;
    border-radius: 1rem;
}
.formx h2 {
    width: 100%;
    text-align: center;
}
.campo {
    border: 0.2rem solid black;
    background: transparent;
    color: white;
}

@media (min-width: 600px) {
    .header {
        position: relative;
    }
    .image {
        width: 50%;
        padding: 1rem;
    }
    .text1 {
        width: 50%;
        height: 100%;
        /* align-items: center; */
    }
    .formx label {
        margin: 1rem;
    }
    .formx h2 {
        width: 100%;
        display: inherit;
        justify-content: center;
    }
    .formx__coment {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    /* .coment {
        margin-right: 2rem;
    } */
}
@media (min-width: 800px) {
    image img {
        width: 100%;
    }
    .text1 {
        display: flex;
        height: 418px;
        align-items: center;
    }
}