* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    background-color: gray;
    background-image: url("https://i.ibb.co/HD5Y8n2/image-fondo.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
.header {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 2rem;
}
.image {
    display: inherit;
    width: 100%;
    margin-top: 1rem;
}
.image img {
    justify-content: center;
    margin: 0 auto;
    border-radius: 1rem;
}
.text1, .text2 {
    padding: 3rem;
    font-size: 1.8rem;
    font-weight: 600;
}
.text2 {
    color: white;
    background-color: rgba(128, 128, 128, 0.204);
}
.formx {
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
    margin: 0 auto;
    padding: 1rem;
    border: 0.5rem solid gray;
    border-radius: 1rem;
}
.formx h2 {
    width: 100%;
    text-align: center;
}
.campo {
    border: 0.2rem solid black;
    background: transparent;
    color: white;
}

/* @media (min-width: 600px) {
    .header {
        position: relative;
    }
    .image {
        width: 50%;
        padding: 1rem;
    }
    .text1 {
        display: flex;
        width: 50vw;
        align-items: center;
    }
    .formx label {
        margin: 1rem;
    }
    .formx h2 {
        width: 100%;
        display: inherit;
        justify-content: center;
    }
    .formx__coment {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
} */
/* @media (min-width: 800px) {
    .text1 {
        height: 300px;
    }
    .formx {
        width: 40%;
        order: 2;
        margin-bottom: 5rem;
    }
    .text2 {
        display: flex;
        align-items: center;
        width: 50%;
        order: 1;
    }
} */
/* @media (min-width: 1300px) {
    .formx {
        order: 0;
        width: 100%;
        justify-content: center;
        align-items: center;
        justify-content: space-evenly;
    }
    .formx label {
        margin: 0;
        margin-left: 1rem;
    }
    .formx__coment {
        flex-direction: row;
        width: 50%;
    }
    .text2 {
        align-items: flex-end;
        width: 100%;
        order: 0;
    }
} */